
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #31004f ;
background-color:#31004f}


section.theme-dark   { background-color: #0f172a }

section.theme-dark h3 a:link,
section.theme-dark h3 a:visited {
    color: var(--purple-300) !important;
}

section.theme-dark h3 a:hover,
section.theme-dark h3 a:active {
    color: var(--purple-100) !important;
}

footer.theme-dark   { background-color: #31004f }

footer.theme-dark a:link,
footer.theme-dark a:visited {
    color: var(--purple-300) !important;
}

footer.theme-dark a:hover,
footer.theme-dark a:active {
    color: var(--purple-100) !important;
}


header.theme-dark h1 { color: var(--slate-050) }
header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { background-color: var(--purple-900) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--purple-800) }

header.theme-dark .container-btn a.btn:nth-child(1):link,
header.theme-dark .container-btn a.btn:nth-child(1):visited { color: var(--purple-900) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--purple-300) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--purple-900) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { color: var(--purple-300) }

header.theme-dark .container-btn a.btn:nth-child(2):link,
header.theme-dark .container-btn a.btn:nth-child(2):visited { border-color: var(--purple-300) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--purple-200) }

header.theme-dark .badge { background-color: var(--purple-300) }
header.theme-dark .badge { color: var(--purple-900);
font-family: 'Lato', sans-serif;
font-size: xx-large; }


/* Text paragraphs */
p {
    font-family: 'Archivo', sans-serif;
    }

    /* Main heading */
h1 {
	font-family: 'Lato',sans-serif;
    letter-spacing: 5px !important;
}

/* Small headings */
h2 {
    font-family: 'Lato', sans-serif;
}

/* Smaller headings */
h3 {
	font-family: 'Archivo',sans-serif;
    font-weight: 400;
    font-size: x-large;
}